.backgroundTheme{
    padding: 15px 15px 15px;
    background: rgb(70, 34, 94);
}

.nose{
    width: 50%;
    float: left;
}

.nose{
    width: 40%;
    float: right;
}

.koko{
    width: 40%;
    float: left;
}



::placeholder{
    color: violet;
    font-size: 1.5em;
    font-style: italic;
}