.backgroundTheme{
  padding: 15px 15px 15px;
  background: rgb(70, 34, 94);
}

.nose{
  width: 50%;
  float: left;
}

.nose
{width: 50%;
  float: right;
}
.image{
  width:380px;
  height:380px;
  padding:80px; 
}
 .hola{
  background-color: transparent;
 }